*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.im1 {
    height: 144px;
    position: fixed;
    cursor: pointer;
}
.im2 {
    width: 470px;
    position: absolute;
    top: 180px;
    left:190px;
}
.im3 {
    width: 417px;
    position: relative; 
    left: 990px;
    top: 180px;
    cursor: pointer;
}
.im4 {
    width: 780px;
    position: relative;
    left: 185px;
    top: -250px;
    cursor: pointer;
}
a {
    text-decoration: none;
    display: block;
    position: relative;
    top: -270px;
    left: 200px;
    font-size: 23px;
}
p {
    position: relative;
    top: -260px;
    left: 200px;
    width: 45%;
    font-size: 18px;
    color: gray;
}
a:hover{
    text-decoration: underline;
}
